{% form_theme form 'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig' %}
{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-trash-o"></span>
            {{ __('Delete this page?') }}
        </h3>
        {{ getstatusmsg() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Page Details') }}</legend>
            <div class="col-lg-offset-3 col-lg-9">
                <ul>
                    <li>{{ __('ID') }}: {{ page.pageid }}</li>
                    <li>{{ __('Title') }}: {{ page.title }}</li>
                    <li>{{ __('Created on') }}: {{ page.cr_date|date("m/d/Y") }}</li>
                    <li>{{ __('Created by') }}: {{ page.creator.uname }}</li>
                </ul>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                {{ form_widget(form.Delete, {'attr': {'class': 'btn btn-success'}}) }}
                {{ form_widget(form.cancel, {'attr': {'class': 'btn btn-default'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
