{% form_theme filterForm with [
    'ZikulaCategoriesModule:Form:filter_layout_customizations.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{% if modvars.ZConfig.multilingual or modvars.ZikulaPagesModule.enablecategorization %}
    {{ form_start(filterForm) }}
    <fieldset{% if filter_active %} class='filteractive'{% endif %}>
        {% if filter_active %}{% set filteractive = __('active') %}{% else %}{% set filteractive = __('inactive') %}{% endif %}
        <legend style="margin-bottom:0">{{ _fn("Filter %active%, %count% page listed", "Filter %active%, %count% pages listed", pager.numitems, { '%active%': filteractive, '%count%': pager.numitems } ) }}</legend>
        <span{% if not modvars.ZikulaPagesModule.enablecategorization %} class="hidden"{% endif %}>
            <strong>{{ __('Categories') }}</strong>
            {% for categorySelect in filterForm.categories %}{{ form_widget(categorySelect) }}&nbsp;&nbsp;{% endfor %}
        </span>
        <span{% if not modvars.ZConfig.multilingual %} class="hidden"{% endif %}>
            <strong>{{ __('Language') }}</strong> {{ form_widget(filterForm.language) }}&nbsp;&nbsp;
        </span>
        {{ form_widget(filterForm.filterButton) }}
        <a href="{{ path('zikulapagesmodule_admin_index') }}" title="{{ __('Clear') }}" class="btn btn-default btn-sm"><i class="fa fa-times fa-lg"></i> {{ __("Clear") }}</a>
    </fieldset>
    {{ form_end(filterForm) }}
{% endif %}