{{ pageAddAsset('javascript', zasset('@ZikulaPagesModule:js/Zikula.Pages.Admin.Modify.js')) }}
{{ pageSetVar('title', __('Modify page')) }}
{% form_theme form 'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig' %}
{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-edit"></span>
            {{ __('Modify Page') }}
        </h3>
        {{ showflashes() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Content') }}</legend>
            {{ form_row(form.obj_status) }}
            {{ form_row(form.title) }}
            {{ form_row(form.urltitle) }}
            {{ form_row(form.categoryAssignments) }}
            {{ form_row(form.language) }}
            {{ form_row(form.content) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('Meta tags') }}</legend>
            {{ form_row(form.metadescription, {'attr': {'class': 'noeditor'}}) }}
            {{ form_row(form.metakeywords, {'attr': {'class': 'noeditor'}}) }}
        </fieldset>
        <fieldset>
            <legend><a id="pages_settings_collapse" href="#"><i class="fa fa-plus hide"></i> {{ __('Specific page settings') }}</a></legend>
            <div id="pages_settings_details">
                {{ form_row(form.displaywrapper) }}
                {{ form_row(form.displaytitle) }}
                {{ form_row(form.displaycreated) }}
                {{ form_row(form.displayupdated) }}
                {{ form_row(form.displaytextinfo) }}
                {{ form_row(form.displayprint) }}
            </div>
        </fieldset>
        <fieldset>
            <legend><a id="pages_meta_collapse" href="#"><i class="fa fa-plus hide"></i> {{ __('Meta data') }}</a></legend>
            <div id="pages_meta_details" class="col-lg-offset-3 col-lg-9">
                <ul>
                    <li>{{ __f('Created by %s', { '%s': form.vars.value.creator.uname|default('') } ) }}</li>
                    <li>{{ __f('Created on %s', { '%s': form.vars.value.cr_date|date("m/d/Y") } ) }}</li>
                    <li>{{ __f('Last update by %s', { '%s': form.vars.value.updater.uname|default('') } ) }}</li>
                    <li>{{ __f('Updated on %s', { '%s': form.vars.value.lu_date|date("m/d/Y") } ) }}</li>
                </ul>
            </div>
        </fieldset>
        {{ notifyDisplayHooks('pages.ui_hooks.pages.form_edit', form.vars.value.pageid|default(null)) }}
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{{ adminFooter() }}
