{% form_theme form with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ pageSetVar('title', __('Pages settings')) }}
{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-wrench"></span>
            {{ __('Settings') }}
        </h3>
        {{ showflashes() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('General settings') }}</legend>
            {{ form_row(form.enablecategorization) }}
            {{ form_row(form.itemsperpage) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('New page defaults') }}</legend>
            {{ form_row(form.def_displaywrapper) }}
            {{ form_row(form.def_displaytitle) }}
            {{ form_row(form.def_displaycreated) }}
            {{ form_row(form.def_displayupdated) }}
            {{ form_row(form.def_displaytextinfo) }}
            {{ form_row(form.def_displayprint) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('Permalinks settings') }}</legend>
            {{ form_row(form.addcategorytitletopermalink) }}
            {{ form_row(form.showpermalinkinput) }}
        </fieldset>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}, 'icon':'fa-check'}) }}
                {{ form_widget(form.cancel, {'attr': {'class': 'btn btn-default'}, icon:'fa-times'}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{{ adminFooter() }}
