{{ pageAddAsset('stylesheet', zasset('@ZikulaPagesModule:css/style.css')) }}

{{ moduleHeader('user', __('Page categories'), '', true, true, true) }}

<h4>{{ __('Available categories:') }}</h4>
{% for registry in registries %}
    <ul>
        {% for category in registry.category.children %}
            <li><a href="{{ path('zikulapagesmodule_user_viewcategory', {category:category.id}) }}" title="{{ category.display_desc[app.request.locale] }}">{{ category.display_name[app.request.locale] }}</a>
                ({{ _n('%count% page', '%count% pages', count[category.id]|default(0) ) }})
            </li>
        {% endfor %}
    </ul>
{% endfor %}
