{{ pageAddAsset('stylesheet', zasset('@ZikulaPagesModule:css/style.css')) }}

{{ moduleHeader('user', __('Page list'), '', true, true, true) }}

<h4>{{ __('Available pages:') }}</h4>
<ul>
    {% for page in pages if hasPermission('ZikulaPagesModule::Page', page.title ~ '::' ~ page.pageid, 'ACCESS_READ') %}
        <li><a href="{{ path('zikulapagesmodule_user_display', {urltitle: page.urltitle}) }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>

{{ pager({rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'startnum', route: 'zikulapagesmodule_user_listpages'}) }}
