{{ pageAddVar('stylesheet', asset('modules/zikulapages/css/style.css')) }}
{% set templatetitle = __('Pages list') %}
{{ pageSetVar('title', templatetitle) }}
{{ showflashes() }}

<h2>{{ templatetitle }}</h2>

<p>{{ __('Available pages:') }}</p>
<ul>
    {% for page in pages if checkPermission('ZikulaPagesModule::Page', page.title ~ '::' ~ page.pageid, 'ACCESS_READ') %}
        <li><a href="{{ path('zikulapagesmodule_user_display', {urltitle: page.urltitle}) }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>

{{ pager({rowcount:pager.numitems, limit:pager.itemsperpage, posvar:'startnum', route:'zikulapagesmodule_user_listpages'}) }}
