{{ pageAddAsset('stylesheet', zasset('@ZikulaPagesModule:css/style.css')) }}
{% set templatetitle = __('Pages') %}
{{ pageSetVar('title', templatetitle) }}
{{ showflashes() }}

<h2>{{ templatetitle }}</h2>
<p>{{ __('Available categories:') }}</p>
{% for registry in registries %}
<ul>
    {% for category in registry.category.children %}
    <li><a href="{{ path('zikulapagesmodule_user_view', {cat:category.id}) }}" title="{{ category.display_desc[app.request.locale] }}">{{ category.display_name[app.request.locale] }}</a>
         {# TODO ({{ _fn('%s page', '%s pages', category.count, { '%s': category.count } ) }})#}
    </li>
    {% endfor %}
</ul>
{% endfor %}
