{{ pageAddAsset('stylesheet', zasset('@ZikulaPagesModule:css/style.css')) }}
{% set templatetitle = __('Pages') %}
{{ pageSetVar('title', templatetitle) }}
{{ showflashes() }}

<h2>{{ templatetitle }}</h2>
<p>{{ __('Available categories:') }}</p>
{% for property in propertiesdata %}
<ul>
    {% for category in property.subcategories %}
    <li><a href="{{ path('zikulapagesmodule_user_view', {prop: property.name, cat:category.id}) }}" title="{{ category.display_desc[lang] }}">{{ category.display_name[lang] }}</a>
         ({{ _fn('%s page', '%s pages', category.count, { '%s': category.count } ) }})
    </li>
    {% endfor %}
</ul>
{% endfor %}